/* Estilos para la barra de navegación */
header {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  /* Media queries para barra de navegación responsiva */
  @media (max-width: 768px) {
    nav ul {
      display: flex;
      flex-direction: column;
    }
  
    nav li {
      float: none;
    }
  
    nav li a {
      padding: 10px;
    }
  }
  