.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  text-align: center;
  max-height: 100vh;
  overflow-y: auto;
}

.image-container {
  margin: 10px;
  width: 100%;
}

.carousel {
  width: 100%;
}

.carousel-cell {
  display: flex;
  justify-content: center;
}

.carousel-cell img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px; /* Ajusta el valor según tus necesidades */
}
